@using WaterDelivery.Models
@{
    ViewBag.Title = "Home Page";
    ApplicationDbContext context = new ApplicationDbContext();

    var categoryCount = context.Category.Count();
    var clientCount = context.Client.Count();
    var providerCount = context.Provider.Count();
    var orderCount = context.Order.Count();
    var cityCount = context.City.Count();
    var complaintCount = context.Complaints.Count();
    var productCount = context.Product.Count();
}

    <div class=" ">

     
        <!------------------------------------------------------------------------------------------------------>


        <div class="container" >


            <h2 style="text-align:center">Home</h2>


            <div class="home-card-box">
                <div class="row">

                    @{
                        if (User.IsInRole("ادمن") || User.IsInRole("تصنيفات"))
                        {
                            <div class="col-md-4">
                                <a href="~/Categories/Index">
                                    <div class="new-box-home">

                                        <h4 class=" "> category</h4>

                                        <h5 class=" ">  @categoryCount </h5>
                                        <p class="text-muted">category<p>
                                    </div>
                                </a>
                            </div>
                        }

                        @*if (User.IsInRole("ادمن") || User.IsInRole("مدن"))
                        {
                            <div class="col-md-4">
                                <a href="~/Cities/Index">
                                    <div class="new-box-home">

                                        <h4 class=" ">المدن</h4>

                                        <h5 class=" ">  @cityCount </h5>
                                        <p class="text-muted">مدينة</p>


                                    </div>
                                </a>
                            </div>
                        }*@


                        @*if (User.IsInRole("ادمن") || User.IsInRole("مستخدمين"))
                        {
                            <div class="col-md-4">
                                <a href="~/Clients/Index">
                                    <div class="new-box-home">

                                        <h4 class=" ">العملاء</h4>

                                        <h5 class=" ">  @clientCount </h5>
                                        <p class="text-muted">عميل</p>


                                    </div>
                                </a>
                            </div>
                        }*@

                        @*if (User.IsInRole("ادمن") || User.IsInRole("مندوبين"))
                        {
                            <div class="col-md-4">
                                <a href="~/Providers/Index">
                                    <div class="new-box-home">

                                        <h4 class=" ">المندوبين</h4>

                                        <h5 class=" ">  @providerCount </h5>
                                        <p class="text-muted">مندوب</p>


                                    </div>
                                </a>
                            </div>
                        }*@


                        if (User.IsInRole("ادمن") || User.IsInRole("طلبات"))
                        {
                            <div class="col-md-4">
                                <a href="~/Orders/Index">
                                    <div class="new-box-home">

                                        <h4 class=" "> odrers </h4>

                                        <h5 class=" ">  @orderCount </h5>
                                        <p class="text-muted">order</p>


                                    </div>
                                </a>
                            </div>
                        }


                        @*if (User.IsInRole("ادمن") || User.IsInRole("شكاوي"))
                        {
                            <div class="col-md-4">
                                <a href="~/Complaints/Index">
                                    <div class="new-box-home">

                                        <h4 class=" "> الشكاوي و المقترحات </h4>

                                        <h5 class=" ">  @complaintCount </h5>
                                        <p class="text-muted">شكوى</p>


                                    </div>
                                </a>
                            </div>
                        }*@

                        if (User.IsInRole("ادمن") || User.IsInRole("منتجات"))
                        {
                            <div class="col-md-4">
                                <a href="~/Products/Index">
                                    <div class="new-box-home">

                                        <h4 class=" "> Products </h4>

                                        <h5 class=" ">  @productCount </h5>
                                        <p class="text-muted">Product</p>
                                    </div>
                                </a>
                            </div>
                        }



                    }
                </div>
            </div>


        </div>

    </div>