
@{
    ViewBag.Title = "ActivePhone";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <img src="~/Content/Site/imgs/logo.png" alt="" class="logo-form">
    <h4 class="title-form">    تفعيل رقم الجوال  </h4>
    <div class="input-group">
        <input type="text"  id="Code" placeholder="  ادخل  كود التفعيل  " class="form-control">

    </div>

    <a @*href="index.html"*@ onclick="ConfirmCode()" class="btn-site w-100">    تفعيل   </a>


</div>


@section Scripts {
    <script>

        function ConfirmCode() {

            var Code = $("#Code").val();

            if ($("#Code").val() == "") {
                toastr.error("من فضلك ادخل كود التحقق ");
                ScrollItem("#Code");
                return false;
            }
            var fd = new FormData();

            fd.append("Code", Code);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                url: "/Site/ChkConfirmCode",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.key == 0) {
                        toastr.error(data.msg);
                        return false;
                    }
                    else if (data.key == 1) {
                        toastr.success(data.msg);
                        setTimeout(function () {
                            window.location.href = "/SiteHome/Index";
                        }, 3000);
                    }
                }
            });
        }

    </script>

}
