
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <img src="~/Content/Site/imgs/logo.png" alt="" class="logo-form">
    <h4 class="title-form">   Account recovery</h4>
    <div class="input-group">
        <input type="text" id="Phone" placeholder=" Your mobile number  " class="form-control">

    </div>

    <a @*href="code.html"*@ onclick="ConfirmPhone()" class="btn-site w-100">  SEND   </a>

</div>

@section Scripts {
    <script>

        function ConfirmPhone() {

            var Phone = $("#Phone").val();

            if ($("#Phone").val() == "") {
                toastr.error("Please enter the phone number ");
                ScrollItem("#Phone");
                return false;
            }
            var fd = new FormData();

            fd.append("Phone", Phone);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                url: "/Site/SendCode",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.key == 0) {
                        toastr.error(data.msg);
                        return false;
                    }
                    else if (data.key == 1) {
                        toastr.success(data.msg);
                        setTimeout(function () {
                            window.location.href = "/Site/ForgetPasswordCode";
                        }, 3000);
                    }
                }
            });
        }

    </script>

}
