
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-content">
    <img src="~/Content/Site/imgs/logo.png" alt="" class="logo-form">
    <h4 class="title-form">Login</h4>
    <div class="input-group">
        <input type="text" onkeypress="return isNumberKey(event)"  id="Phone" name="Phone" placeholder="Mobile number" class="form-control">
        <span><img src="~/Content/Site/imgs/phone-call.png" width="20"></span>
    </div>
    <div class="input-group">
        <input type="password"  id="Password" name="Password"  placeholder=" Password  " class="form-control">
        <span><img src="~/Content/Site/imgs/Group 3.png" width="16"></span>
    </div>
    <a href="~/Site/ForgetPassword" class="like-line"> did you forget your password؟</a>
    <a @*href="index.html"*@ onclick="Login()" class="btn-site w-100"> Login </a>
    <a href="~/SiteHome/Index" class="btn-site-bord w-100">  guest   </a>

    <a href="~/Site/Register" class="like-line m-auto"> You don't have an account ?    </a>
</div>


@section Scripts {
    <script>


        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }   


        function Login() {

            var Phone = $("#Phone").val();
            var Password = $("#Password").val();


            if ($("#Phone").val() == "") {
                toastr.error("Please enter the phone number ");
                ScrollItem("#Phone");
                return false;
            }

            if ($("#Password").val() == "") {
                toastr.error("Please enter the password ");
                ScrollItem("#Password");
                return false;
            }

            var fd = new FormData();

           
            fd.append("Phone", Phone);
            fd.append("Password", Password);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                url: "/Site/Login",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.key == 0) {
                        toastr.error(data.msg);
                        return false;
                    }
                    else if (data.key == 1) {
                        toastr.success(data.msg);
                        setTimeout(function () {
                            window.location.href = "/SiteHome/Index";
                        }, 3000);
                    }
                    else if (data.key == 2) {
                        toastr.success(data.msg);
                        setTimeout(function () {
                            window.location.href = "/Site/ActivePhone";
                        }, 3000);
                    }
                }
            });
        }

    </script>

}
