
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-page">

    <div class="login-content">
        <img src="~/Content/Site/imgs/logo.png" alt="" class="logo-form">
        <h4 class="title-form">   Account recovery </h4>
        <div class="input-group">
            <input type="password" id="Password" name="Password" placeholder=" new password" class="form-control">
            <span><img src="~/Content/Site/imgs/Group 3.png" width="16"></span>
        </div>
        <div class="input-group">
            <input type="password"  id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm the new password " class="form-control">
            <span><img src="~/Content/Site/imgs/Group 3.png" width="16"></span>
        </div>

        <a @*href="login.html"*@ onclick="ResetPassword()" class="btn-site w-100">   send   </a>

    </div>
</div>

@section Scripts {
    <script>

        function ResetPassword() {

            var Password = $("#Password").val();
            var ConfirmPassword = $("#ConfirmPassword").val();


            if ($("#Password").val() == "") {
                toastr.error("Please enter the password ");
                ScrollItem("#Password");
                return false;
            }

            if (Password.length < 6) {
                toastr.error("Please, the password should not be less than 6 digits ");
                ScrollItem("#Phone");
                return false;
            }

            if ($("#ConfirmPassword").val() == "") {
                toastr.error("Please enter the password ");
                ScrollItem("#ConfirmPassword");
                return false;
            }

            if (Password != ConfirmPassword) {
                toastr.error("The two passwords do not match");
                ScrollItem("#ConfirmPassword");
                return false;
            }
            var fd = new FormData();

            fd.append("newpassword", Password);

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: "POST",
                url: "/Site/ResetPassword",
                data: fd,
                contentType: false,
                processData: false,
                success: function (data) {

                    if (data.key == 0) {
                        toastr.error(data.msg);
                        return false;
                    }
                    else if (data.key == 1) {
                        toastr.success(data.msg);
                        setTimeout(function () {
                            window.location.href = "/Site/Login";
                        }, 3000);
                    }
                }
            });
        }

    </script>

}
