@{
    ViewBag.Title = "تأكيد تعديل كلمة المرور";
    Layout = "../Shared/_Layout2.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        تم تعديل كلمة المرور @Html.ActionLink("انقر لتسجبل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>